.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0, 172, 193, .9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 172, 193, .9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlayProfile {
	position: absolute;
	left: 56%;
	top: 56%;
	margin-left: -100px;
	margin-top: -100px;
	z-index: 999;
	width: 128px;
	height: 128px;
    border: solid 2px rgba(0, 172, 193, .9);
	box-sizing: content-box;
	pointer-events: none;
}

.overlayHome {
	position: absolute;
	left: 40%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	z-index: 999;
	width: 328px;
	height: 185px;
    border: solid 2px rgba(0, 172, 193, .9);
	box-sizing: content-box;
	pointer-events: none;
}

.overlayProfile:after,
.overlayProfile:before {
	content: '';
	position: absolute;
	display: block;
	width: 132px;
	height: 40px;
    border-left: dashed 2px rgba(0, 172, 193, .9);
	border-right: dashed 2px rgba(0, 172, 193, .9);
}

.overlayHome:after,
.overlayHome:before {
	content: '';
	position: absolute;
	display: block;
	width: 332px;
	height: 40px;
    border-left: dashed 2px rgba(0, 172, 193, .9);
	border-right: dashed 2px rgba(0, 172, 193, .9);
}

.overlayProfile:before {
	top: 0;
	margin-left: -2px;
	margin-top: -40px;
}

.overlayProfile:after {
	bottom: 0;
	margin-left: -2px;
	margin-bottom: -40px;
}

.overlayHome:before {
	top: 0;
	margin-left: -2px;
	margin-top: -40px;
}

.overlayHome:after {
	bottom: 0;
	margin-left: -2px;
	margin-bottom: -40px;
}

.overlayProfile-inner:after,
.overlayProfile-inner:before {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 132px;
    border-top: dashed 2px rgba(0, 172, 193, .9);
	border-bottom: dashed 2px rgba(0, 172, 193, .9);
}

.overlayHome-inner:after,
.overlayHome-inner:before {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 189px;
    border-top: dashed 2px rgba(0, 172, 193, .9);
	border-bottom: dashed 2px rgba(0, 172, 193, .9);
}

.overlayProfile-inner:before {
	left: 0;
	margin-left: -40px;
	margin-top: -2px;
}

.overlayProfile-inner:after{
	right: 0;
	margin-right: -40px;
	margin-top: -2px;
}

.overlayHome-inner:before {
	left: 0;
	margin-left: -40px;
	margin-top: -2px;
}

.overlayHome-inner:after{
	right: 0;
	margin-right: -40px;
	margin-top: -2px;
}

.btn-crop {
	position: absolute;
	vertical-align: bottom;
	right: 5px;
	bottom: 5px;
	padding: 6px 10px;
	z-index: 999;
	background-color: rgb(222,60,80);
	border: none;
	border-radius: 5px;
	color: #FFF;
}

.btn-crop img {
	vertical-align: middle;
	margin-left: 8px;
}